 p {
   font-family: Roboto, Arial;
   margin-top: 0;
   margin-bottom: 0;
   
 }

 body{
  margin: 0;
  padding-top: 80px;
  margin-left: 96px;
  padding-right: 24px;
  background-color: rgb(247, 247, 247);

 }
 a {
   text-decoration: none;
   /* Removes underline */
   color: inherit;
   /* Makes the text color the same as the parent element */
 }

 a:hover {
   color: inherit;
   /* Prevents color change on hover */
 }

 .video1-title {
   font-weight: bold;
   /* Optional: Make the video title bold */
   color: black;
   /* Video title color */
 }

 .channel-name {
   color: gray;
   /* Channel name color */
 }

 .channel-views {
   color: rgb(96, 96, 96);
   /* Views and time color */
 }
 .video1-title:hover {
   color: #606060;
   /* Light gray on hover */
   cursor: pointer;
 }